@model IEnumerable<CleanArchMvc.Application.DTOs.CategoryDTO>

@{
    ViewData["Title"] = "Categories Management";
}

<div>
    <h2>@ViewData["Title"]</h2>
    @foreach(var cat in Model)
    {
        <p>@Html.DisplayFor(model => cat.Name)</p>
    }
</div>